name: ADAtickets

services:
  adatickets.apiservice:
    image: ghcr.io/andrexace/adatickets-api:${APITAG:-latest}
    environment:
      # ASP.NET configuration variables
      - DOTNET_GENERATE_ASPNET_CERTIFICATE=false
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:8081;http://+:8080;
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERTPASSWORD:?error}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${CERTPATH:?error}
      # Database connection string
      - ConnectionStrings__PostgreSQL=Host=localhost;Port=5432;Database=adatickets;Username=${POSTGRESUSER:?error};Password=${POSTGRESPASSWORD:?error}
      # Entra configuration variables
      - Entra__Authority=https://login.microsoftonline.com/${TENANTID:?error}/v2.0/
      - Entra__Audience=api://${APIAPPID:?error}
      - ExternalEntra__Authority=https://${EXTERNALTENANTNAME:?error}.ciamlogin.com/${EXTERNALTENANTID:?error}/v2.0/
      - ExternalEntra__Audience=api://${EXTERNALAPIAPPID:?error}
    volumes:
      - ${VOLUMEPATH:?error}:/https:ro

  adatickets.web:
    image: ghcr.io/andrexace/adatickets-web:${CLIENTTAG:-latest}
    environment:
      # ASP.NET configuration variables
      - DOTNET_GENERATE_ASPNET_CERTIFICATE=false
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:8081;http://+:8080;
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERTPASSWORD:?error}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${CERTPATH:?error}
      # Entra configuration variables
      - Entra__Authority=https://login.microsoftonline.com/${TENANTID:?error}/v2.0/
      - Entra__Audience=api://${APIAPPID:?error}
      - Entra__CallbackPath=/signin-oidc-entra
      - Entra__Instance=https://login.microsoftonline.com
      - Entra__ResponseType=code
      - Entra__ClientId=${CLIENTAPPID:?error}
      - Entra__Domain=${TENANTNAME:?error}.onmicrosoft.com
      - Entra__TenantId=${TENANTID:?error}
      - Entra__Certificate__DiskPath=${CERTIFICATEDISKPATH:?error}
      - Entra__Certificate__Password=${CERTIFICATEPASSWORD:?error}
      - Entra__DownstreamApi__BaseUrl=https://localhost:7214
      - Entra__DownstreamApi__Scopes__0=api://${APIAPPID:?error}/Read
      - Entra__DownstreamApi__Scopes__1=api://${APIAPPID:?error}/ReadWrite
      - ExternalEntra__Authority=https://${EXTERNALTENANTNAME:?error}.ciamlogin.com/${EXTERNALTENANTID:?error}/v2.0/
      - ExternalEntra__Audience=api://${EXTERNALAPIAPPID:?error}
      - ExternalEntra__CallbackPath=/signin-oidc-entra-external
      - ExternalEntra__Instance=https://${EXTERNALTENANTNAME:?error}.ciamlogin.com
      - ExternalEntra__ClientId=${EXTERNALCLIENTAPPID}
      - ExternalEntra__Domain=${EXTERNALTENANTNAME:?error}.onmicrosoft.com
      - ExternalEntra__TenantId=${EXTERNALTENANTID:?error}
      - ExternalEntra__DownstreamApi__Scopes__0=api://${EXTERNALAPIAPPID:?error}/Read
      - ExternalEntra__DownstreamApi__Scopes__1=api://${EXTERNALAPIAPPID:?error}/ReadWrite
    volumes:
      - ${VOLUMEPATH:-~/.aspnet/https}:/https:ro