services:
  adatickets.postgresql:
    container_name: Database
    environment:
      - POSTGRES_USER=${POSTGRESUSER:?error}
      - POSTGRES_PASSWORD=${POSTGRESPASSWORD:?error}
      - POSTGRES_DB=adatickets
    healthcheck:
      test: pg_isready -U postgres -d adatickets
      interval: 10s
      timeout: 3s
      retries: 3
    image: postgres:latest
    networks:
      - network
    ports:
      - "5432:5432"
    volumes:
      - database-data:/var/lib/postgresql/data
    
  adatickets.apiservice:
    container_name: Api
    depends_on:
      adatickets.postgresql:
        condition: service_healthy
    networks:
      - network
    ports:
      - "5194:8080"
      - "7214:8081"
  
  adatickets.web:
    container_name: Web
    depends_on:
      adatickets.apiservice:
        condition: service_started
    networks:
      - network
    ports:
      - "44321:8081"
    
networks:
  network:
    driver: bridge

volumes:
  database-data: