services:
  adatickets.postgresql:
    container_name: Database
    environment:
      - POSTGRES_USER=${POSTGRESUSER:?error}
      - POSTGRES_PASSWORD=${POSTGRESPASSWORD:?error}
      - POSTGRES_DB=adatickets
    healthcheck:
      test: pg_isready -U postgres -d adatickets
      interval: 10s
      timeout: 3s
      retries: 3
    image: postgres:17.5
    networks:
      - network
    volumes:
      - database-data:/var/lib/postgresql/data

  adatickets.redis:
    container_name: Cache
    command: redis-server --appendonly yes
    image: redis:8.0.2
    networks:
      - network
    volumes:
      - redis-data:/data
 
  adatickets.apiservice:
    container_name: Api
    depends_on:
      adatickets.postgresql:
        condition: service_healthy
    networks:
      - network
    ports:
      - "7214:8081"

  adatickets.web:
    container_name: Web
    depends_on:
      adatickets.apiservice:
        condition: service_started
      adatickets.redis:
        condition: service_started
    networks:
      - network
    ports:
      - "44321:8081"

networks:
  network:
    driver: bridge

volumes:
  database-data:
  redis-data: