name: ADAtickets

services:
  adatickets.apiservice:
    image: ghcr.io/andrexace/adatickets-api:${APITAG:-latest}
    environment:
      # ASP.NET configuration variables
      - DOTNET_GENERATE_ASPNET_CERTIFICATE=false
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:8081;http://+:8080;
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${SSLCERTIFICATEPASSWORD:?error}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/${SSLCERTIFICATENAME:?error}
      # Database connection string
      - ConnectionStrings__PostgreSQL=Host=localhost;Port=5432;Database=adatickets;Username=${POSTGRESUSER:?error};Password=${POSTGRESPASSWORD:?error}
      # Entra configuration variables
      - Entra__Instance=https://login.microsoftonline.com
      - Entra__TenantId=${TENANTID:?error}
      - Entra__ClientId=${APIAPPID:?error}
      # External Entra configuration variables
      - ExternalEntra__Instance=https://login.microsoftonline.com
      - ExternalEntra__TenantId=${EXTERNALTENANTID:?error}
      - ExternalEntra__ClientId=${EXTERNALAPIAPPID:?error}
      # API scopes
      - Authorization__Scopes__Read="Read ReadWrite"
      - Authorization__Scopes__Write="ReadWrite"
    volumes:
      - ${SSLCERTIFICATEDISKPATH:?error}:/https:ro
      - ${APIAUTHCERTIFICATEDISKPATH:?error}:/certs:ro

  adatickets.web:
    image: ghcr.io/andrexace/adatickets-web:${WEBTAG:-latest}
    environment:
      # ASP.NET configuration variables
      - DOTNET_GENERATE_ASPNET_CERTIFICATE=false
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:8081;http://+:8080;
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${SSLCERTIFICATEPASSWORD:?error}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/${SSLCERTIFICATENAME:?error}
      # Entra configuration variables
      - Entra__Instance=https://login.microsoftonline.com
      - Entra__TenantId=${TENANTID:?error}
      - Entra__ClientId=${WEBAPPID:?error}
      - Entra__CallbackPath=/signin-oidc-entra
      - Entra__SignedOutCallbackPath=/signout-oidc-entra
      - Entra__ClientCertificates__0__SourceType=Path
      - Entra__ClientCertificates__0__CertificateDiskPath=/certs/${WEBAUTHCERTIFICATENAME:?error}
      - Entra__ClientCertificates__0__CertificatePassword=${WEBAUTHCERTIFICATEPASSWORD:?error}
      - Entra__ADAticketsAPI__BaseUrl=https://localhost:7214
      - Entra__ADAticketsAPI__Scopes__0="Read"
      - Entra__ADAticketsAPI__Scopes__1="ReadWrite"
      # External Entra configuration variables
      - ExternalEntra__Instance=https://login.microsoftonline.com
      - ExternalEntra__TenantId=${EXTERNALTENANTID:?error}
      - ExternalEntra__ClientId=${EXTERNALWEBAPPID:?error}
      - ExternalEntra__CallbackPath=/signin-oidc-external-entra
      - ExternalEntra__SignedOutCallbackPath=/signout-oidc-external-entra
      - ExternalEntra__ClientCertificates__0__SourceType=Path
      - ExternalEntra__ClientCertificates__0__CertificateDiskPath=/certs/${WEBAUTHCERTIFICATENAME:?error}
      - ExternalEntra__ClientCertificates__0__CertificatePassword=${WEBAUTHCERTIFICATEPASSWORD:?error}
      - ExternalEntra__ADAticketsAPI__BaseUrl=https://localhost:7214
      - ExternalEntra__ADAticketsAPI__Scopes__0="Read"
      - ExternalEntra__ADAticketsAPI__Scopes__1="ReadWrite"
    volumes:
      - ${SSLCERTIFICATEDISKPATH:?error}:/https:ro
      - ${WEBAUTHCERTIFICATEDISKPATH:?error}:/certs:ro