@import '_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css';

body {
    height: 100vh;
}

.header {
    height: fit-content !important;
}

.header-gutters {
    column-gap: 1.5rem;
    height: fit-content !important;
}

.header-grid {
    width: 100%;
    height: fit-content !important;
}

.main {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    padding: 1rem;
}

.footer {
    column-gap: 1.5rem;
    padding: 1rem;
}

.logo-icon {
    max-width: 3rem;
}

.nav-menu {
    background: var(--neutral-layer-1);
    display: flex;
    padding: 1rem;
    height: 100%;
}

.fluent-tab-icon {
    margin-right: 0.3rem;
}

.hover-hide {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.hover-hide:hover {
    opacity: 1;
}

fluent-menu-item {
    margin: 0.5rem;
}

fluent-menu-item span {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

fluent-menu h6 {
    padding: 0.5rem 0rem 0rem 1rem;
}