name: Tag, containerize and update
on:
  workflow_run:
    workflows: ["Build, test and analyze"]
    types: 
    - completed

jobs:
  update:
    runs-on: ubuntu-latest
    name: Tag, containerize and update
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Set up Git
        run: |
          git config user.name "Andrea Lucchese"
          git config user.email "andrylook14@gmail.com"
      
      - name: Get version
        run: echo "VERSION=v$(cat VERSION)" >> $GITHUB_ENV

      - name: Push tag
        run: |
          git tag ${{ env.VERSION }}
          git remote set-url origin https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}.git
          git push origin ${{ env.VERSION }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          build-args: BUILD_CONFIGURATION=Release
          context: ./ADAtickets.ApiService
          push: true
          tags: adatickets-api:latest,adatickets-api:${{ env.VERSION }}
