on:
  workflow_run:
    workflows: [ quality.yml ]
    types: [ completed ]

jobs:
  update:
    runs-on: ubuntu-latest
    name: Push tag and deploy packages
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Git
        run: |
          git config user.name "Andrea Lucchese"
          git config user.email "andrylook14@gmail.com"

      - name: Get Installer version
        run: echo "INSTALLER_VERSION=v$(cat ADAtickets.Installer/VERSION)" >> $GITHUB_ENV

      - name: Push tag if it doesn't already exist
        run: |
          if ! git ls-remote --tags origin | grep -q "refs/tags/${{ env.INSTALLER_VERSION }}$"; then
            git tag ${{ env.INSTALLER_VERSION }}
            git push origin ${{ env.INSTALLER_VERSION }}
          else
            echo "Tag ${{ env.INSTALLER_VERSION }} already exists. Skipping tag creation."
          fi

      - name: Build and pack NuGet package
        run: |
          dotnet build "ADAtickets.Client" --configuration Release
          dotnet pack "ADAtickets.Client" --configuration Release --no-build --output ./nupkg

      - name: Publish NuGet package to GitHub Packages
        run: |
          dotnet nuget add source --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          dotnet nuget push "./nupkg/*.nupkg" --source "github" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get API version
        run: echo "API_VERSION=v$(cat ADAtickets.ApiService/VERSION)" >> $GITHUB_ENV

      - name: Build and push API
        uses: docker/build-push-action@v6
        with:
          build-args: BUILD_CONFIGURATION=Release
          context: .
          file: ADAtickets.ApiService/Dockerfile
          push: true
          tags: |
            ghcr.io/andrexace/adatickets-api:latest
            ghcr.io/andrexace/adatickets-api:${{ env.API_VERSION }}

      - name: Get Web version
        run: echo "WEB_VERSION=v$(cat ADAtickets.Web/VERSION)" >> $GITHUB_ENV

      - name: Build and push web app
        uses: docker/build-push-action@v6
        with:
          build-args: BUILD_CONFIGURATION=Release
          context: .
          file: ADAtickets.Web/Dockerfile
          push: true
          tags: |
            ghcr.io/andrexace/adatickets-web:latest
            ghcr.io/andrexace/adatickets-web:${{ env.WEB_VERSION }}
